/* =global module-lists
--------------------------------------------------------------- */
.mod-category {

}
.mod-lst > .mod-entry {
	border-top: 1px solid #666;
	padding: 0.75em 0;
}
.mod-entry:first-child {
	border-top: 0;
	padding-top: 0;
}
.mod-entry > *:last-child,
.mod-entry a > *:last-child {
	margin-bottom: 0;
}
.mod-category-title {
	
}
.mod-entry-meta {
	display: block;
	margin-bottom: 0.5em;
	color: #767676;
	font-size: 0.875em; /* 14/16 */
}
.mod-entry-title {
	margin-bottom: 0;
}
.mod-entry-title a {
	display: block;
}
.mod-entry-desc {
	margin-top: 0.75em;
}
.mod-entry-lead {
	font-weight: bold;
}
.mod-entry-img {
	display: block;
}

/* =global module-navigation
--------------------------------------------------------------- */
.mod-nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em 1em;
	margin: .5em 0 1.5em 0;
}
.mod-nav a {
	color: #273941;
	text-decoration: none;
}
.mod-nav a:hover,
.mod-nav a:focus,
.mod-nav .active a {
	color: #000;
}
.mod-nav .active a {
	font-weight: bold;
}

.login-pw-reset {
	float: right;
}

@media only screen and (max-width: 32.5em) { /* 520/16 */

	.login-pw-reset {
		float: none;
		margin-top: 0.75em;
		text-align: center;
	}
}

/* =Files
--------------------------------------------------------------- */
.asset-meta {
	white-space: nowrap;
}
.asset-type {
	text-transform: uppercase;
}
.asset-size {
	
}

/* =form-builder
--------------------------------------------------------------- */
.form-builder .form-builder__item,
.form-builder .clearfix,
.form-builder .cf {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: .75em;
}
.form-builder .clearfix:not(.form-builder-container--txt)::after,
.form-builder .cf::after {
	content: none;
}
.form-builder .form-builder__item--pwstrength,
.form-builder .form-builder-matrix {
    display: block;
}
.form-builder .form-builder-container--txt {
	display: block;
	margin-bottom: 1.5em;
}
.form-builder fieldset > *:last-child,
.form-builder .last,
.form-builder .form-builder-container > *:last-child {
	margin-bottom: 0;
}
.form-builder .form-builder__item > label,
.form-builder .clearfix > label,
.form-builder .cf > label,
.form-builder .form-option-lst-title {
	display: block;
	margin-bottom: 0;
	width: 50%;
	padding-right: 2em;
}
.form-builder label > em,
.form-builder legend > em {
	font-style: normal;
}
.form-builder legend.form-option-lst-title,
.form-builder fieldset .form-builder-matrix caption {
	font-size: 1em;
}
.form-builder legend.form-option-lst-title {
	color: currentColor;
	font-weight: normal;
}
.form-builder .form-option-lst-title label {
	display: inline;
}
.form-builder [type=date],
.form-builder [type=datetime],
.form-builder [type=datetime-local],
.form-builder [type=email],
.form-builder [type=file],
.form-builder [type=month],
.form-builder [type=number],
.form-builder [type=password],
.form-builder [type=range],
.form-builder [type=search],
.form-builder [type=tel],
.form-builder [type=text],
.form-builder [type=time],
.form-builder [type=url],
.form-builder [type=week],
.form-builder textarea,
.form-builder select {
	width: 50%;
}
.form-builder [type=range] {
	align-self: center;
}
.form-builder input[type=submit],
.form-builder button {
	width: auto;
}
.form-builder [type=radio],
.form-builder [type=checkbox] {
	margin-right: 0.75em;
}
.form-builder .form-hint,
.form-builder .form-hint-complex__rules,
.form-builder label.error,
.form-builder .password-strength,
.form-builder .password-rules {
	clear: both;
	display: block;
	width: 50%;
	margin: .75em 0 0 auto;
	color: #585858;
}
.form-builder .form-hint-complex__rules {
	margin-top: 0;
}
.form-builder .form-hint-complex--fullwidth .form-hint-complex__rules,
.form-builder .clearfix > .editor  {
	width: 100%;
}
.form-builder label.error + label.error {
	margin-top: 0;
	padding-top: 0;
}
.form-builder .form-option-lst li + li {
	margin-top: 0.5em;
}
.form-builder .form-option-lst .form-hint {
	width: auto;
}
.form-builder .required > label,
.form-builder .required .form-option-lst-title,
.form-builder .password-strength__rule-title {
	font-weight: bold;
}
.form-builder .form-required-hint {
	font-style: normal;
}
.form-builder .required > label.error {
	font-weight: normal;
}
.form-builder input.error,
.form-builder label.error,
.form-builder .accessibility-date select.invalid {
	color: red;
}
.form-builder label.error {
	padding-right: 0;
}
.form-builder .form-option-lst-show-title .form-option-lst,
.form-builder .form-sizer-wrapper,
.form-builder .accessibility-date {
	width: 50%;
}
.form-builder .form-option-lst > ul {
	margin-bottom: 0;
}
.form-builder .form-option-lst li label,
.form-builder .form-builder-tac label {
	display: flex;
	width: 100%;
	padding-right: 0;
	font-weight: normal;
}
.form-builder .form-builder-tac label {
	text-align: left;
}
.form-builder .form-option-lst li label > input,
.form-builder .form-builder-tac label > input {
	flex: none;
	top: 0.18em;
}
div:not([class*="form-option-lst-show-title"]) label.error {
	width: 100%;
}
.form-builder .form-builder-btn {
	margin-bottom: 2.4em;
}
.form-builder .form-builder-btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 1.5em;
}
.form-builder .form-builder-btn-group p,
.form-builder .form-builder-btn-group button + button {
	margin: 0;
}
.form-builder .form-sizer-wrapper {
	display: flex;
	justify-content: space-between;
}
.form-builder .form-sizer label {
	white-space: nowrap;
	width: 100%;
	padding-right: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.form-builder .form-sizer input {
	width: 100%;
}
.form-builder .form-sizer {
	margin-bottom: 0;
}
.form-builder .form-sizer-25,
.form-builder .form-street-component .form-sizer:last-child,
.form-builder .form-zip-component .form-sizer:first-child {
	width: 23%;
}
.form-builder .form-sizer-50 {
	width: 48%;
}
.form-builder .form-sizer-75,
.form-builder .form-street-component .form-sizer:first-child,
.form-builder .form-zip-component .form-sizer:last-child {
	width: 73%;
}

/* =accessibility-date select
--------------------------------------------------------------- */
.form-builder .accessibility-date {
	display: flex;
	justify-content: space-between;
}
.form-builder .accessibility-date > select {
	flex: 1 1 auto;
	width: auto;
	min-width: 0;
}
.form-builder .accessibility-date > select + select {
	margin-left: 0.75em;
}

/* =form-builder stacked: Label sits on top of input
--------------------------------------------------------------- */
.form-builder .form-builder__item.stacked > *,
.form-builder .clearfix.stacked > * {
	display: block;
	width: 100%;
	padding-right: 0;
}
.form-builder .form-builder__item.stacked > label
.form-builder .clearfix.stacked > label {
	padding-top: 0;
	margin-bottom: 0.25em;
}

/* =form-builder 30% label / 70% input
--------------------------------------------------------------- */
.form-builder-30 .form-builder__item > label,
.form-builder-30 .clearfix > label,
.form-builder-30 .cf > label,
.form-builder-30 .form-option-lst-title {
	width: 30%;
}
.form-builder-30 input,
.form-builder-30 textarea,
.form-builder-30 select,
.form-builder-30 .form-hint,
.form-builder-30 .form-hint-complex__rules,
.form-builder-30 label.error,
.form-builder-30 .form-option-lst-show-title .form-option-lst,
.form-builder-30 .form-sizer-wrapper,
.form-builder-30 .accessibility-date {
	width: 70%;
}

@media only screen and (max-width: 32.5em) { /* 520/16 */
	button + button[type=reset] {
		margin-top: 0.7em;
		margin-left: 0;
	}
	.form-builder .form-builder__item,
	.form-builder .clearfix,
	.form-builder .cf {
		margin-bottom: 1.5em;
	}
	.form-builder label,
	.form-builder .form-builder__item > label,
	.form-builder .clearfix > label,
	.form-builder .cf > label,
	.form-builder [type=date],
	.form-builder [type=datetime],
	.form-builder [type=datetime-local],
	.form-builder [type=email],
	.form-builder [type=file],
	.form-builder [type=month],
	.form-builder [type=number],
	.form-builder [type=password],
	.form-builder [type=range],
	.form-builder [type=search],
	.form-builder [type=tel],
	.form-builder [type=text],
	.form-builder [type=time],
	.form-builder [type=url],
	.form-builder [type=week],
	.form-builder textarea,
	.form-builder select,
	.form-builder .form-option-lst-show-title .form-option-lst,
	.form-builder .form-option-lst-title,
	.form-builder .form-hint,
	.form-builder .form-hint-complex__rules,
	.form-builder label.error,
	.form-builder .form-sizer-wrapper,
	.form-builder .password-strength,
	.form-builder .password-rules,
	.form-builder .accessibility-date {
		width: 100%;
	}
	.form-builder .accessibility-date {
		display: flex;
	}
	.form-builder .form-builder__item > label,
	.form-builder .clearfix > label,
	.form-builder .cf > label,
	.form-builder .form-option-lst-title {
		padding-right: 0;
		padding-bottom: 0.2em;
	}
	.form-builder [type=submit],
	.form-builder button {
		width: 100%;
	}
	.form-builder.flex-search button {
		width: auto;
	}
	.form-builder .form-builder-btn-group p {
		width: 100%;
	}
}

/* =form-builder multistep
--------------------------------------------------------------- */
.form-to-wizard-commands .btn + .btn {
	margin-left: 1.5em;
}
.form-to-wizard-current {
	font-weight: bold;
}
.form-to-wizard-current ~ li {
	color: grey;
}

/* =form-builder nice-number
--------------------------------------------------------------- */
.nice-number .btn--decrease {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.nice-number input {
	border-radius: 0;
}
.nice-number .btn--increase {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* =checkbox toggle
--------------------------------------------------------------- */
.form-builder .form-builder__item--toggle {
	--toggle-off: lightgrey;
	--toggle-on: green;
	--toggle-width: 3.5em;
	--toggle-height: 2em;
	--toggle-radius: 4em;
	justify-content: flex-start;
	align-items: center;
	gap: 0.2em 0;
}
.form-builder__toggle-wrapper {
	position: relative;
}
.form-builder__item--toggle [type="checkbox"] {
	position: absolute;
	inset: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-right: 0;
	cursor: pointer;
	background-color: transparent;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.form-builder__item--toggle [type="checkbox"]::before,
.form-builder__item--toggle [type="checkbox"]::after {
	content: none;
}
.form-builder__item--toggle .form-builder__toggle {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.form-builder__item--toggle .form-builder__toggle::before,
.form-builder__item--toggle .form-builder__toggle::after {
	content: "";
	border-radius: var(--toggle-radius);
	will-change: transition;
}
.form-builder__item--toggle [type="checkbox"] ~ .form-builder__toggle::before {
	display: block;
	width: var(--toggle-width);
	height: var(--toggle-height);
	background-color: var(--toggle-off);
	transition: background-color 0.2s;
}
.form-builder__item--toggle [type="checkbox"]:checked ~ .form-builder__toggle::before {
	background-color: var(--toggle-on);
}
.form-builder__item--toggle [type="checkbox"] ~ .form-builder__toggle::after {
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	width: calc(var(--toggle-height) - 4px);
	height: calc(var(--toggle-height) - 4px);
	visibility: visible;
	background-color: #fff;
	box-shadow: var(--shadow-sm);
	transition: left 0.2s;
}
.form-builder__item--toggle [type="checkbox"]:checked ~ .form-builder__toggle::after {
	left: calc(100% - var(--toggle-height) + 2px);
}

/* visible on/off-marker for  a11y */
.form-builder__item--toggle .form-builder__toggle-off,
.form-builder__item--toggle .form-builder__toggle-on {
	--toggle-icon-border-width: 2px;
	position: absolute;
	inset: 0;
}
.form-builder__item--toggle .form-builder__toggle-off::before,
.form-builder__item--toggle .form-builder__toggle-on::before,
.form-builder__item--toggle .form-builder__toggle-on::after {
	content: "";
	position: absolute;
	inset: 0;
	display: block;
	width: var(--toggle-height);
	height: var(--toggle-height);
	transition: left 0.2s, opacity 0.2s;
}
/* checkmark off; transparent by default */
.form-builder__item--toggle .form-builder__toggle-off::before {
	width: calc(var(--toggle-height) / 2);
	height: calc(var(--toggle-height) / 2);
	border: var(--toggle-icon-border-width) solid var(--toggle-off-icon-color, transparent);
	border-radius: var(--toggle-radius);
	transform: translate(50%, 50%);
	opacity: 1;
}
.form-builder__item--toggle [type="checkbox"]:checked ~ .form-builder__toggle-off::before {
	left: calc(100% - var(--toggle-height));
	opacity: 0;
}
/* checkmark active */
.form-builder__item--toggle .form-builder__toggle-on::before,
.form-builder__item--toggle .form-builder__toggle-on::after {
	border-color: var(--toggle-on-icon-color,  var(--toggle-on));
	border-width: var(--toggle-icon-border-width);
	border-top: 0;
	border-left: 0;
	height: calc(var(--toggle-height) / 2);
	width: calc(var(--toggle-height) / 4);
	transform: rotate(45deg) translateY(-30%) translateX(160%);
	opacity: 0;
}
.form-builder__item--toggle .form-builder__toggle-on::before {
	border-right-style: solid;
}
.form-builder__item--toggle .form-builder__toggle-on::after {
	border-bottom-style: solid;
}
.form-builder__item--toggle [type=checkbox]:checked ~ .form-builder__toggle-on::before,
.form-builder__item--toggle [type=checkbox]:checked ~ .form-builder__toggle-on::after {
	left: calc(100% - var(--toggle-height));
	opacity: 1;
}

/* =flex-search
--------------------------------------------------------------- */
.flex-search {
	display: flex;
}
.flex-search > label {
	margin-right: 1em;
	align-self: center;
}
.form-builder.flex-search > label,
.form-builder .flex-search > label {
	margin-right: 1em;
	width: auto;
	padding-right: 0 ;
}
.flex-search > input,
.flex-search > select {
	flex: 1 1 auto;
	min-width: 0;
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.flex-search > button {
	flex: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-right: 1em;
	padding-left: 1em;
}

/* =searchresults
--------------------------------------------------------------- */
.search-result-title--assets a {
	display: flex;
	align-items: baseline;
	width: 100%;
	text-decoration: none;
}
.search-result-title--assets a > * {
	flex: 1 1 auto;
}
.search-result-title--assets a::before {
	flex: none;
}
.search-result-title--assets .asset-title {
	text-decoration: underline;
}
.search-result-title--assets a,
.search-result-desc {
	overflow: hidden;
	overflow-wrap: break-word; /* umbricht auch PDF-Inhalte  */
	hyphens: auto;
}

/* =events: anmeldungen
--------------------------------------------------------------- */
.btn-group-grid, .event-participant-buttongroup {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

/* =calendar (events, reservations)
--------------------------------------------------------------- */
.calendar {
	width: 50%;
	line-height: 2;
	border-top: 1px solid #ccc;
}
.calendar,
.calendar th,
.calendar td {
	color: #000;
	font-weight: inherit;
}
.calendar th,
.calendar td {
	width: 14.28571428571429%;
	border: 1px solid #ccc;
	padding: 0;
	text-align: center;
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
}
.calendar th {
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	background-color: transparent;
}
.calendar tbody {
	background-color: #dcdfde;
}
.calendar a {
	display: block;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.calendar tbody a {
	transition: box-shadow .3s ease;
}
.calendar tbody a:hover,
.calendar tbody a:focus {
	box-shadow: inset 0 0 0 100px rgba(0,0,0,.25);
}
.cal-year a {
	display: inline;
}

@media only screen and (max-width: 37.5em) { /* 600/16 */

	.calendar {
		width: 100%;
	}

}

/* =Tageszustände
--------------------------------------------------------------- */
.cal-entry { /* Daten mit Eintrag */
	font-weight: bold;
}

.cal-noentry { /* Daten ohne Eintrag */
	
}
.cal-noentry a {
	color: #707070;
}
.cal-noentry a:hover,
.cal-noentry a:focus {
	color: #000;
}

.cal-disabled,
.cal-disabled-legend span { /* inaktive Tage */
	color: #adadad;
	background-color: #eee;
}

.cal-othermonth { /* Tage ausserhalb des ausgewählten Monats */
	background-color: #fff;
}

.cal-today,
.cal-today-legend span {  /* heute */
	color: #fff;
	background-color: #000;
	box-shadow: none !important;
}
.cal-today a,
.cal-today a:hover,
.cal-today a:focus {
	color: #fff;
	text-shadow: none;
}

.cal-selected { /* ausgewähltes Datum */
	box-shadow: none !important;
}
.cal-selected a,
.cal-selected-legend span {
	outline: 3px solid yellow;
}

/* =Reservations-Tageszustände
--------------------------------------------------------------- */
.calendar-legend {
	margin-bottom: 1.5em;
	font-size: 1em;
	-webkit-column-gap: 1em;
	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-columns: 2 10em;
	   -moz-columns: 2 10em;
			columns: 2 10em; /* max. columns, max width */
}
.calendar-legend li {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0.25em;
}
.calendar-legend span {
	display: block;
	float: left;
	width: 1.4em;
	height: 1.4em;
	margin-right: .5em;
	border: 1px solid #ccc;
}

.cal-allfree.cal-allfree,
.cal-available.cal-available,
.cal-partlyfree.cal-partlyfree,
.cal-almostsoldout.cal-almostsoldout,
.cal-full.cal-full {
	box-shadow: none;
}
.cal-allfree,
.cal-allfree-legend span,
.cal-available,
.cal-available-legend span { /* alles frei */
	background-color: #008000;
}
.cal-partlyfree,
.cal-partlyfree-legend span { /* teilweise frei */
	background-color: #fffc00;
}
.cal-almostsoldout,
.cal-almostsoldout-legend span { /* letzte karte(n) */
	background-color: #ff9c00;
}
.cal-full,
.cal-full-legend span { /* ausgebucht */
	background-color: #ff0000;
}
.cal-partlyfree a:link {
	color: #000;
}
.cal-allfree a:link,
.cal-available a:link,
.cal-almostsoldout a:link,
.cal-full a:link {
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

/* =travelpass
--------------------------------------------------------------- */
.travelpass .calendar {
	width: 100%;
}
.travelpass-cal-wrapper,
.travelpass-order-wrapper {
	width: 48.181818181818%;
	float: left;
}
.travelpass-order-wrapper {
	margin-left: 3.636363636364%; /* 20 / 550 */
}
.terms {
	margin-bottom: 1.5em;
}

@media only screen and (max-width: 48em) { /* 768/16 */

	.travelpass-cal-wrapper,
	.travelpass-order-wrapper {
		float: none;
		width: 100%;
		margin-left: 0;
	}

}

/* =magnific gallery
--------------------------------------------------------------- */
ul.gallery-magnific {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5em;
	gap: 1.5em;
	overflow: visible;
}
ul.gallery-magnific a {
	display: block;
	text-decoration: none;
}
ul.gallery-magnific figure {
	margin: 0;
}
ul.gallery-magnific figcaption {
	padding: 0 0.5em 0.5em 0.5em;
	text-align: center;
}
ul.gallery-magnific img {
	display: block;
	margin: 0 auto;
}
.mfp-content figcaption {
	margin-top: 0;
}

@media only screen and (max-width: 48em) { /* 768/16 */

	ul.gallery-magnific {
		grid-template-columns: 1fr 1fr;
	}

}

/* =breadcrumb
--------------------------------------------------------------- */
.breadcrumb {
	position: relative;
	overflow: hidden;
}
.breadcrumb::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	pointer-events: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.breadcrumb__lst {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0.5em 0;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.breadcrumb__item {
	position: relative;
	padding-right: 0.5em;
	white-space: nowrap;
}
.breadcrumb__item:last-child {
	padding-right: 1em;
}
.breadcrumb__link {
	text-decoration: none;
}

/* separator icon */
.breadcrumb__item:not(:first-child)::before {
	content: "\f105";
	position: static;
	display: inline-block;
	margin: 0 .75em;
	font-family: FontAwesome;
}


/* breadcrumb dropdown */
.breadcrumb__dropdown {
	display: none;
	position: absolute;
	top: 1.55rem;
	left: 0;
	z-index: 800;
}
.breadcrumb__dropdown.expanded {
	display: block;
}
.breadcrumb__dropdown ul {
	min-width: 200px;
}

/* =osm online-schalter
--------------------------------------------------------------- */
.os-category-title {}
.os-tbl-caption {}
.os-article {
	width: 85%;
}
.os-price {
	width: 15%;
  	text-align: right;
}
.os-price-detail {
	text-align: right;
	border-top: 1px solid #a1acb0;
	border-bottom: 3px double #a1acb0;
	padding: 0.25em 0 0.15em 0;
}
.infobox {
	overflow: hidden;
	margin-bottom: 1.5em;
	font-size: 1em;
}
.infobox > div {
	float: left;
	width: 50%;
}
.infobox > div + div {
	float: right;
}
.infobox > div:first-of-type {
	padding-right: 1em;
}
.infobox > div > p {
	margin-bottom: .7em;
}

/* =sales warenkorb
--------------------------------------------------------------- */
.sales-basket-infobox .btn {
	display: block;
	color: #fff;
	padding: 0.25em 0.5em;
}
.sales-basket-article {
	width: 100%;
}
.sales-basket-tbl {
	font-size: 1em;
}
.sales-basket-quant {
	white-space: nowrap;
}
.sales-updatequantity {
	width: 3em;
}

.sales-subtotal,
.sales-fee,
.sales-shippingprice {
	font-size: 1em;
}
.sales-subtotal {
	border-bottom-width: 2px;
	font-weight: bold;
}

/* =osm checkout steps
--------------------------------------------------------------- */
.cart-checkout {
	margin-bottom: 1.5em;
}
.cart-checkout__lst,
.cart-checkout__item {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cart-checkout__lst {
	display: flex;
	width: 100%;
	box-shadow: inset 0 1px 0 #ccc,
				inset 0 -1px 0 #ccc;
}
.cart-checkout__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.5em 0;
	text-align: center;
	line-height: 1.2;
}
.cart-checkout__item + .cart-checkout__item {
	margin-left: 1.5em;
}
.cart-checkout__item--active {
	position: relative;
	font-weight: bold;
}
.cart-checkout__item--active::after, .cart-checkout__item--active::before {
	bottom: 0;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.cart-checkout__item--active::after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.cart-checkout__item--active::before {
	border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}
.cart-checkout__item--active ~ li {
	color: #706f6f;
}

.cart-checkout__step {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5em;
	width: 1.5em;
	height: 1.5em;
	color: #fff;
	background-color: #706f6f;
	border-radius: 3em;
}

.checkout__step-checkmark {
	display: none;
}
.cart-checkout__item--completed .checkout__step-checkmark {
	display: block;
}
.cart-checkout__item--completed .checkout__step-number {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	 -webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	overflow: hidden;
}
.cart-checkout__item--active .cart-checkout__step {
	background-color: #bc111e;
}

@media only screen and (max-width: 48em) { /* 768/16 */

	.cart-checkout__lst {
		flex-direction: column;
		box-shadow: none;
	}
	.cart-checkout__item {
		justify-content: flex-start;
		align-items: center;
		padding: .15em 0;
		text-align: left;
	}
	.cart-checkout__item + .cart-checkout__item {
		margin: inherit;
	}
	.cart-checkout__item--active::after, .cart-checkout__item--active::before {
		content: none;
	}
	.cart-checkout__step {
		margin-right: .5em;
		margin-bottom: 0;
	}

}

/* =osm payment: KK-Auswahl
--------------------------------------------------------------- */
.cc-lst li {
	position: relative;
	display: flex;
	margin-bottom: 0.5em;
}
.cc-lst li > * {
	transition: all 0.2s ease-in-out;
}
.cc-lst label {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0);
	cursor: pointer;
}
.cc-lst .cc-lst-img {
	flex: 0 0 auto;
	min-width: 50px;
	max-width: 80px;
	margin: 5px;
	filter: grayscale(100%);
	}
.cc-lst .cc-lst-img > img {
	display: block;
	width: 100%; /* for IE */
}
.cc-lst .cc-lst-txt {
	display: block;
	flex: 1 1 auto;
	padding-left: 1em;
	align-self: center;
}
.cc-lst input[type="radio"] {
	position: absolute;
	display: inline;
	left: -1000px;
	width: 0;
	height: 0;
	overflow: hidden;
}
.cc-lst input[type="radio"]:checked ~ label {
	border: 2px solid #49b1eb;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.cc-lst input[type="radio"]:checked ~ .cc-lst-img {
	filter: none;
}
.cc-lst input[type="radio"]:checked ~ .cc-lst-txt {
	font-weight: 500;
}

/* =messenger
--------------------------------------------------------------- */
.subscription-opt-lst thead th {
	white-space: nowrap;
}
.col-subscription-title {
	width: 100%;
}
.col-subscription-html,
.col-subscription-plain,
.col-subscription-sms {
	text-align: center;
}
.subscription-opt-lst input {
	float: none;
}
.col-subscription-delivery {
	padding-right: 0;
}
.col-subscription-delivery ul {
	margin: 0;
}
.col-subscription-delivery label {
	white-space: nowrap;
}
.subscription-opt-lst [class*="col-"] {
	margin-left: 0;
	float: none;
}

/* =mod-index toc
--------------------------------------------------------------- */
.mod-index-toc {
	position: relative;
	margin-bottom: 2em;
	overflow: hidden;
	background-color: #f6f4f3;
}

.mod-index-toc ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
}
.mod-index-toc li {
	display: table-cell;
	text-align: center;
	display: table-cell;
	white-space: nowrap;
}
.mod-index-toc a {
	display: block;
	padding: 0.25em 0;
	color: #666;
	text-decoration: none;
	box-shadow: inset 1px 0 rgba(0, 0, 0, 0.2)
}
.mod-index-toc li:first-child a {
	box-shadow: none;
}
.mod-index-toc a:hover,
.mod-index-toc a:focus {
	color: #000;
}

@media only screen and (max-width: 32.5em) { /* 520/16 */

	.mod-index-toc::after {
		display: block;
		pointer-events: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 20%;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,f0f0f0+100&0+0,1+100 */
		background-image: -moz-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6-15 */
		background-image: -webkit-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background-image: linear-gradient(to right,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.mod-index-toc ul {
		display: block;
		width: auto;
		margin: 0;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.mod-index-toc a {
		padding: 0.25em 0.5em;
	}

}

/* =mod-index a-z list
--------------------------------------------------------------- */
.mod-index-pages > div {
	margin-bottom: 1.5em;
}
.mod-index-pages > div > h2 {
	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	border-top: 1px solid #666;
	padding: 0.25em;
	color: #000;
	background-color: #ececec;
}
.mod-index-pages > div:target {
	background-color: #f6f4f3;
}
.mod-index-pages > div:target h2 {
	color: #fff;
	background-color: #666;
}
.mod-index-pages > div:target ul {
	padding-bottom: 1em;
}

/* =collections
--------------------------------------------------------------- */
.collection-lst {
	margin-bottom: 0;
}
.collection-item {
	display: block;
	float: left;
}
.collection-item::after {
	content: '\00A0\00A0/\00A0\00A0';
}
.collection-item:last-child::after {
	content: none;
}

/* =accordion
--------------------------------------------------------------- */
.js-accordion {
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 1.5em;
}
.js-accordion_control {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0;
	border-top: 1px solid #d2d2d2;
	padding: 0.25em 0;
	cursor: pointer;
}
.js-accordion_control::after {
	flex: 0 0 auto;
	margin-left: 1.5em;
	content: "\f077";
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	transform: scale(0.75);
	transition: transform .2s;
}
.js-accordion_control--active::after {
	transform: scale(0.75,-0.75);
}
.js-accordion-content {
	padding: 0.75em 0;
}

/* =FAQ
--------------------------------------------------------------- */
.faq__topic {
	margin-bottom: 0.75em;
}
.faq__main {
	margin: 0;
	padding: 1em 0 0 1.5em
}
.faq__content > * {
	margin-bottom: .5em
}
.faq__content > *:last-child {
	margin-bottom: 0;
}

/* =blog (news in blogform)
--------------------------------------------------------------- */
.mod-blog .mod-entry {
	clear: both;
}
.mod-blog .mod-entry--has-img > a {
	overflow: hidden;
	padding-top: 0.75em;
}
.mod-blog .mod-entry-title {
	clear: none;
}
.mod-blog .mod-entry img.alignright {
	margin: 0 0 3.448275862069% 3.448275862069%;
	max-width: 48.275862068966%; /* 280/580 */
}

.news-stats{
	border: 1px solid #d9d9d9;
  	border-right: 0;
  	border-left: 0;
  	padding: 1em;
}

/* =kommentare
--------------------------------------------------------------- */
.mod-lst-comments li {
	list-style: none;
}
.mod-lst-comments > li {
	margin-left: 0;
}
.mod-comments .mod-entry-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0.7em;
}
.mod-comments .mod-entry-header > * {
	margin: 0;
}
.mod-comments .mod-entry-body {
	margin-bottom: 0.7em;
}
.mod-comments .mod-entry-footer {
	text-align: right;
}
.mod-entry-footer + ol {
	margin-top: 0.75em;
}
.mod-entry-footer + ol > .mod-entry,
.mod-entry-footer + ol > .mod-entry:first-child {
	border-top: 1px solid #d9d9d9;
}
.mod-comments .mod-entry-footer a {
	border-bottom: 0;
	font-size: 0.86666666666667em; /* 13/15 */
}

/* =cookie law
--------------------------------------------------------------- */
.cookie-alert {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 1em 0;
}
.btn-row {
	text-align: center;
}
.btn-row button + button {
	margin-left: 1em;
}

/* =KataBox
--------------------------------------------------------------- */
.katabox {
	position: relative;
	border: 1px solid #000;
	padding: 2em 1.5em;
}
.katabox::before,
.katabox::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: repeating-linear-gradient(
		45deg,
		#FFEB3B,
		#FFEB3B 10px,
		#000000 10px,
		#000000 20px
	);
}
.katabox::after {
	top: auto;
	bottom: 0;
}
.katabox__title {
	text-align: center;
}

/* =hamburger
--------------------------------------------------------------- */
.hamburger {
	display: block;
	position: relative;
	z-index: 4;
	flex: 0 0 auto;
	margin: 0;
	width: 55px;
	height: 45px;
	border: 0;
	text-indent: -9999px;
	border-radius: 3px;
	cursor: pointer;
	background-color: red;
	transition: background-color .5s;
}
.hamburger span {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	height: 3px;
	width: 35px;
	background-color: #fff;
	border-radius: 2px;
	opacity: 1;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.hamburger span:nth-child(1) {
	top: 11px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
	top: 21px;
}
.hamburger span:nth-child(4) {
	top: 31px;
}

.hamburger--active {
	background-color: #000;
}
.hamburger--active span:nth-child(1) {
	top: 20px;
	width: 0%;
	left: 50%;
}
.hamburger--active span:nth-child(2) {
	transform: rotate(45deg);
}
.hamburger--active span:nth-child(3) {
	transform: rotate(-45deg);
}
.hamburger--active span:nth-child(4) {
	top: 20px;
	width: 0%;
	left: 50%;
}

/* =Mobilenav AJAX
--------------------------------------------------------------- */
.mobilenav {
	display: none;
}

@media only screen and (max-width: 32.5em) { /* 520/16 */

	.mainnav {
		display: none;
	}
	.mobilenav {
		display: block;
	}

}

.mobilenav__container {
	display: none;
	position: absolute;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 0 0 1.5em 0;
	background-color: #333;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}
.mobilenav__bg {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgba(0,0,0,0.2);
}
.mobilenav-box {
	width: 100%;
}
.mobilenav-box .level-nav {
	margin: 0;
}
.mobilenav-box .levelup span {
	float: left;
	position: static;
	right: inherit;
}

.govis-menu-node-item {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #555;
}
.govis-menu-node-item.title,
.govis-menu-node-item > a {
	position: relative;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 1em 0.75em 1em 3%;
	list-style-type: none;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
}
.govis-menu-node-item > a {
	display: block;
}
.govis-menu-node-item > a:hover,
.govis-menu-node-item > a:focus {
	text-decoration: none;
}
.govis-menu-node-item.folder > a {
	padding-right: 25%;
}
.govis-menu-node-item > ul {
	position: relative;
	z-index: 1;
}

.title .govis-menu-node-controller {
	left: 0;
	top: 0;
	right: inherit;
}

.mobilenav-current-pagetitle a {
	display: flex;
	padding-right: 3%;
	text-transform: uppercase;
	letter-spacing: 2px;
	white-space: normal;
	background-color: #000;
}
.mobilenav-current-pagetitle a .icon {
	margin-right: .5em;
	transition: transform 0.2s 0s;
	transform: translateX(0) scale(1.5);
}
.mobilenav-current-pagetitle a:hover .icon,
.mobilenav-current-pagetitle a:focus .icon {
	transform: translateX(-.25em) scale(1.5);
}

/* =expander */
.no-js .govis-menu-node-controller {
	display: none;
}
.govis-menu-node-controller {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	width: calc(3% + 54px);
	height:100%;
	border: 0;
	border-top: 1px solid transparent;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	background: #625d5b;
	border-radius: 0;
}
.govis-menu-node-controller .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	color: #fff;
	transform: rotate(0deg) scale(1.5);
	transition: transform .2s ease;
}
.govis-menu-node-controller:hover .icon {
	transform: translateX(.25em) scale(1.5);
}
.govis-menu-node-controller.expanded .icon {
	transform: rotate(90deg) scale(1.5);
}
.govis-menu-node-controller.loading .icon {
	-webkit-animation: fa-spin 1s infinite steps(8);
			animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes fa-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

/* =a11y dropdown component
--------------------------------------------------------------- */
.c-dropdown {
	position: relative;
}

.c-dropdown__btn {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	border: 0;
	cursor: pointer;
	border-radius: 0;
	background-color: transparent;
}
.c-dropdown__btn:hover,
.c-dropdown__btn:focus,
.c-dropdown__btn[aria-expanded="true"] {
	color: #000;
	background-color: #fff;
}
.c-dropdown__btn[aria-expanded="true"] {
	color: #fff;
	background-color: #000;
}
.c-dropdown__btn:focus {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
	box-shadow: none;
}
.c-dropdown__btn:focus:not(:focus-visible) {
	outline: none;
}
.c-dropdown__btn svg {
	flex: none;
	margin-left: 0.25em;
	transition: transform .2s;
	will-change: transform;
}
.c-dropdown__btn[aria-expanded="true"] svg {
	transform: scaleY(-1);
}

.c-dropdown__lst {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 5;
	width: 100%;
	padding: .25em;
	background-color: #f6f4f3;
	border-radius: 0 0 3px 3px;
	box-shadow: var(--shadow-sm);
}

.c-dropdown__link {
	display: block;
	padding: .25em;
	text-decoration: none;
	border-radius: 3px;
}
.c-dropdown__link:hover,
.c-dropdown__link:focus {
	background-color: #fff;
}

/* =tags
--------------------------------------------------------------- */
.tag {
	display: inline-block;
	padding: .25em 1em;
	background-color: #f6f4f3;
	border-radius: 2em;
}

/* =cards-layout
--------------------------------------------------------------- */
.cards {}
.cards__item {}
.cards__lst {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

/* =card-item
--------------------------------------------------------------- */
.card {}

.card__category {
	display: inline-block;
	width: 100%;
	margin-bottom: .5em;
}