:root {}
*,
*::before,
*::after,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; /* 10/16 */
}
body {
	font-size: 16px; /* IE < 11 fallback */
	font: 1.6rem/1.5 Helvetica, Arial, Geneva, sans-serif;
	position: relative;
}
h1, h2, h3, h4, h5, h6, caption,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 0.75em;
	line-height: 1.2;
	font-weight: bold;
}
h1, .h1 {
	font-size: 2em;
}
h2, caption, .h2 {
	font-size: 1.33em;
}
h3, .h3 {
	font-size: 1.17em;
}
h4, .h4 {
	font-size: 1em;
}
h5, .h5 {
	margin: 0 0 0.4em;
	font-size: 1em;
}
h6, .h6 {
	margin: 0 0 0.2em;
	font-size: 1em;
}
p, ul, ol, dl, blockquote, pre, fieldset, figure, address, table, details, iframe, video, audio,
.p, .box, .table-responsive, .media-responsive, .flex-search, .mb, .mod-wrapper, .accordion, [data-oembed-url], [class*="col-"] {
	margin: 0 0 1.5em;
}
p {}
.p {
	font-size: 1em;
	font-weight: normal;
}
li ul,li ol {
	margin: 0;
}
ul, ol {
	padding-left: 0;
}
ul {
	list-style: outside disc;
}
ol {
	list-style-position: outside;
}
ol ol, ul ul {
	margin-bottom: 0;
}
li {
	margin: 0 0 0 1.5em;
}
ol ol li, ul ul li {
	margin: 0 0 0 3em;
}
dt {
	font-weight: bold;
}
dd {
	padding-left: 1.5em;
}
abbr[title] {
	cursor: help;
}
hr {
	clear: both;
	height: 1px;
	margin: 1.5em 0;
	border: 0;
	color: #666;
	background-color: #666;
}
img, embed, object, video {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
video, audio {
	display: block;
}
figure {}
figcaption {
	margin-top: 0.75em;
}
blockquote {
	padding: 0 1.5em;
	font-style: italic;
}
address {}
cite {}
tt, code, kbd, samp, pre {
	font-family: "Courier New", Courier, mono;
}
kbd {
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding: 0 2px;
	border-radius: 3px;
	background-color: #f6f4f3;
}
figcaption,
small, .small,
.form-hint,
label.error,
.asset-meta,
.cookie-alert {
	font-size: 0.92em;
}
iframe {
	display: block;
	border: 0;
	padding: 0;
	width: 100%;
}
details {}
details[open] {}
summary {
	font-weight: bold;
}
details[open] > summary {
	margin-bottom: 0.75em;
}
.optimale-zeilenlaenge {
	color: red; /* Zeichen von 45-75 werden hervorgehoben. Kann in Produktivumgebung gelöscht werden. */
}

/* =anchors
--------------------------------------------------------------- */
a, a:link {
	
}
a:visited {
	
}
a:focus, a:hover, a:active {
	
}
a img {
	border: none;
}

/* =doc-anchors font-awesome
--------------------------------------------------------------- */
[href^="http:"]::after, [href^="https:"]::after,
.show-icon[href^="/"]::after, .document-lst::after,
[href$=".csv"]::before, [href$=".CSV"]::before,
[href$=".doc"]::before, [href$=".DOC"]::before,
[href$=".docx"]::before, [href$=".DOCX"]::before,
[href$=".dotx"]::before, [href$=".DOTX"]::before,
[href$=".docm"]::before, [href$=".DOCM"]::before,
[href$=".dot"]::before, [href$=".DOT"]::before,
[href$=".jpg"]::before, [href$=".JPG"]::before,
[href$=".jpeg"]::before, [href$=".JPEG"]::before,
[href$=".gif"]::before, [href$=".GIF"]::before,
[href$=".eps"]::before, [href$=".EPS"]::before,
[href$=".pdf"]::before, [href$=".PDF"]::before,
[href$=".png"]::before, [href$=".PNG"]::before,
[href$=".potm"]::before, [href$=".POTM"]::before,
[href$=".potx"]::before, [href$=".POTX"]::before,
[href$=".pps"]::before, [href$=".PPS"]::before,
[href$=".ppsm"]::before, [href$=".PPSM"]::before,
[href$=".ppsx"]::before, [href$=".PPSX"]::before,
[href$=".ppt"]::before, [href$=".PPT"]::before,
[href$=".pptm"]::before, [href$=".PPTM"]::before,
[href$=".pptx"]::before, [href$=".PPTX"]::before,
[href$=".psd"]::before, [href$=".PSD"]::before,
[href$=".rss"]::before, [href$=".RSS"]::before,
[href$=".rtf"]::before, [href$=".RTF"]::before,
[href$=".svg"]::before, [href$=".SVG"]::before,
[href$=".tif"]::before, [href$=".TIF"]::before,
[href$=".tiff"]::before, [href$=".TIFF"]::before,
[href$=".txt"]::before, [href$=".TXT"]::before,
[href$=".vcf"]::before, [href$=".VCF"]::before,
[href$=".xlam"]::before, [href$=".XLAM"]::before,
[href$=".xls"]::before, [href$=".XLS"]::before,
[href$=".xlt"]::before, [href$=".XLT"]::before,
[href$=".xlsb"]::before, [href$=".XLSB"]::before,
[href$=".xlsm"]::before, [href$=".XLSM"]::before,
[href$=".xlsx"]::before, [href$=".XLSX"]::before,
[href$=".xltm"]::before, [href$=".XLTM"]::before,
[href$=".xltx"]::before, [href$=".XLTX"]::before,
[href$=".zip"]::before, [href$=".ZIP"]::before,
[href^="mailto\3A"]::before, [data-email-link]::before,
[href^="tel\3A"]::before,
[href^="https://www.google.com/maps/"]::before,
[href^="http://www.google.com/maps/"]::before,
[href^="https://maps.google.com/"]::before,
[href^="http://maps.google.com/"]::before,
[href^="https://goo.gl/maps/"]::before,
.download-icn::before {
	display: inline-block;
	padding-right: 0.25em;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
[href$=".doc"]::before, [href$=".DOC"]::before,
[href$=".docm"]::before, [href$=".DOCM"]::before,
[href$=".docx"]::before, [href$=".DOCX"]::before,
[href$=".dot"]::before, [href$=".DOT"]::before,
[href$=".dotx"]::before, [href$=".DOTX"]::before,
[href$=".rtf"]::before, [href$=".RTF"]::before {
	content: "\f1c2";
}
[href$=".pdf"]::before, [href$=".PDF"]::before {
	content: "\f1c1";
}
[href$=".potm"]::before, [href$=".POTM"]::before,
[href$=".potx"]::before, [href$=".POTX"]::before,
[href$=".pps"]::before, [href$=".PPS"]::before,
[href$=".ppsm"]::before, [href$=".PPSM"]::before,
[href$=".ppsx"]::before, [href$=".PPSX"]::before,
[href$=".ppt"]::before, [href$=".PPT"]::before,
[href$=".pptm"]::before, [href$=".PPTM"]::before,
[href$=".pptx"]::before, [href$=".PPTX"]::before {
	content: "\f1c4";
}
[href$=".rss"]::before, [href$=".RSS"]::before {
	content: "\f09e";
}
[href$=".txt"]::before, [href$=".TXT"]::before {
	content: "\f0f6";
}
[href$=".vcf"]::before, [href$=".VCF"]::before {
	content: "\f007";
}
[href$=".csv"]::before, [href$=".CSV"]::before,
[href$=".xlam"]::before, [href$=".XLAM"]::before,
[href$=".xls"]::before, [href$=".XLS"]::before,
[href$=".xlt"]::before, [href$=".XLT"]::before,
[href$=".xlsb"]::before, [href$=".XLSB"]::before,
[href$=".xlsm"]::before, [href$=".XLSM"]::before,
[href$=".xlsx"]::before, [href$=".XLSX"]::before,
[href$=".xltm"]::before, [href$=".XLTM"]::before,
[href$=".xltx"]::before, [href$=".XLTX"]::before {
	content: "\f1c3";
}
[href$=".zip"]::before, [href$=".ZIP"]::before {
	content: "\f1c6";
}
[href^="https://www.google.com/maps/"]::before,
[href^="http://www.google.com/maps/"]::before,
[href^="https://maps.google.com/"]::before,
[href^="http://maps.google.com/"]::before,
[href^="https://goo.gl/maps/"]::before {
	content: "\f041";
}
[href$=".jpg"]::before, [href$=".JPG"]::before,
[href$=".jpeg"]::before, [href$=".JPEG"]::before,
[href$=".gif"]::before, [href$=".GIF"]::before,
[href$=".eps"]::before, [href$=".EPS"]::before,
[href$=".png"]::before, [href$=".PNG"]::before,
[href$=".psd"]::before, [href$=".PSD"]::before,
[href$=".svg"]::before, [href$=".SVG"]::before,
[href$=".tif"]::before, [href$=".TIF"]::before,
[href$=".tiff"]::before, [href$=".TIFF"]::before {
	content: "\f1c5";
}
.download-icn::before {
	content: "\f019";
}
[href^="mailto:"]::before,
[data-email-link]::before {
	content: "\f003";
}
[href^="tel:"]::before {
	content: "\f095";
}
[href^="http:"]::after,
[href^="https:"]::after {
	padding-right: 0;
	padding-left: 0.25em;
	content: "\f08e";
}
[href*=".kunde.ch"]::after,
[href*=".backslash.ch"]::after,
[data-email-link]::after,
.no-icon::after, .no-icon::before,
.nav [href]::after,
.subnav [href]::after,
.footer [href]::after,
.mod-dam--gallery a::before {
	content: none;
	padding: 0;
}
.os-url .show-icon[href^="https://govis-kunde.backslash.ch"]::after,
.os-url .show-icon[href^="https://www.kunde.ch"]::after,
.show-icon[href^="/"]::after { /* OSM-lst: interne Links mit anderem Icon */
	content: "\f0c1";
}
.document-lst::after { /* OSM-lst: mehrere Files pro Artikel zugewiesen */
	content: "\f0c5";
}

/* =forms
--------------------------------------------------------------- */
fieldset {
	clear: both;
	min-width: 0;
	border: 1px solid #666;
	padding: 1.5em;
}
fieldset.reset {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: transparent;
}
legend {
	display: table;
	color: #000;
	font-weight: bold;
	font-size: 1.17em;
}
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea,
button, [type="button"], [type="reset"], [type="submit"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #ccc;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border-radius: 2px;
}
textarea {
	resize: vertical;
}
select:not([multiple]) {
	display: block;
	padding-right: 1.5em;
	width: 100%;
	max-width: 100%;
	margin: 0;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00NDEuOSAxNjcuM2wtMTkuOC0xOS44Yy00LjctNC43LTEyLjMtNC43LTE3IDBMMjI0IDMyOC4yIDQyLjkgMTQ3LjVjLTQuNy00LjctMTIuMy00LjctMTcgMEw2LjEgMTY3LjNjLTQuNyA0LjctNC43IDEyLjMgMCAxN2wyMDkuNCAyMDkuNGM0LjcgNC43IDEyLjMgNC43IDE3IDBsMjA5LjQtMjA5LjRjNC43LTQuNyA0LjctMTIuMyAwLTE3eiI+PC9wYXRoPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-position: right .75em top 50%;
	background-size: .75em auto;
}
select::-ms-expand { /* Hide arrow icon in IE browsers */
	display: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
[type=checkbox],
[type=radio] {
	border: 0;
	margin-right: 0.25em;
}
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=file]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus,
button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus {
	outline: 0;
	border-color: #0074a9;
	box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}
button + button[type=reset] {
	margin-left: 1em;
}

/* =tables
--------------------------------------------------------------- */
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	text-align: left;
}
table th,
table td {
	vertical-align: top;
	border-bottom: 1px solid #f2f2f2;
	padding: 0.5em 1em;
}
table th {
	text-align: left;
	font-weight: bold;
}
table thead th {
	vertical-align: bottom;
	border-bottom-width: 2px;
	padding: calc((1.6 / 1.2) * 0.5em) calc((1.6 / 1.2) * 1em); /* Faktor der Schriftgrösse * padding */
	font-size: 1.2rem;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
table tbody th,
table tfoot th {
	border-right: 1px solid #f2f2f2;
}
table tr:first-child th,
table tr:first-child td {
	border-top: 1px solid #f2f2f2;
}
table thead tr:first-child th,
table thead tr:first-child td {
	border-top: 0;
}
table thead ~ tbody tr:last-child {
	border-bottom: 2px solid #f2f2f2;
}
table tfoot tr:first-child td {
	border-top: 2px solid #f2f2f2;
}
table tfoot tr:last-child th,
table tfoot tr:last-child td {
	border-top: 2px solid #f2f2f2;
	border-bottom: 6px double #f2f2f2;
	font-weight: bold;
}
table.auto {
	width: auto;
}
table.fixed,
.tbl-fixed {
	table-layout: fixed;
}
th[align="left"], th.left, td.left {
	float: none;
	text-align: left;
}
th[align="center"], th.center, td.center {
	text-align: center;
}
th[align="right"], th.right, td.right,
.tbl-no {
	float: none;
	text-align: right;
}
table.no-pad th:first-child,
table.no-pad td:first-child {
	padding-left: 0;
}
table.no-pad th:last-child,
table.no-pad td:last-child {
	padding-right: 0;
}

/*=zebras & hover
--------------------------------------------------------------- */
table.zebra tbody tr:nth-child(even),
ul.zebra > li:nth-child(even) {
	background-color: rgba(0,0,0,0.05);
}
table.hover tbody tr:hover,
table.hover tfoot tr:hover,
ul.hover > li:hover {
	background-color: rgba(0,0,0,0.05);
}

/*=grid-tables
--------------------------------------------------------------- */
table.grid th,
table.grid td {
	border-left: 1px solid #f2f2f2;
}
table.grid th:last-child,
table.grid td:last-child {
	border-right: 1px solid #f2f2f2;
}

/*=presentation (layout-tables). don't forget role="presentation"
--------------------------------------------------------------- */
table.presentation,
table.presentation th,
table.presentation td,
table.presentation tr:first-child th,
table.presentation tr:first-child td,
table.reset,
table.reset th,
table.reset td,
table.reset tr:first-child th, 
table.reset tr:first-child td {
	border: 0;
	padding: 0;
}

/*=responsive tables & media
--------------------------------------------------------------- */
.table-responsive {
	position: relative;
	z-index: 1;
}
.table-responsive > table {
	margin-bottom: 0;
}

.media-responsive {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.media-responsive iframe,
.media-responsive object,
.media-responsive embed,
.editor .media-responsive img.cke_iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=scrollbars
--------------------------------------------------------------- */
pre,
.table-responsive, .visible-scrollbar {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
pre::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar, .visible-scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
pre::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track, .visible-scrollbar:-webkit-scrollbar-track {
	background-color: #f6f4f3;
}
pre::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb, .visible-scrollbar::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 20em;
}
pre::-webkit-scrollbar-thumb:hover,
.table-responsive::-webkit-scrollbar-thumb:hover, .visible-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: black;
}

/*=microformats
--------------------------------------------------------------- */
.vcard .region,
.vcard .country-name,
.vcard .url {
	display: none;
}

/* =helper
--------------------------------------------------------------- */
[hidden],
.none, .screenhidden, .printvisible {
	display: none;
}
.block,
.screenvisible, .printhidden {
	display: block;
}
.visuallyhidden,
.invis,
.sr,
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	 -webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	overflow: hidden;
}
.nmb {
	margin-bottom: 0;
}
.right	{float: right;}
.left	{float: left;}
.clear	{clear: both;}
.clearfix::after,
.cf::after,
.row::after {
	content: "";
	display: table;
	clear: both;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.alignleft,
.alignright,
.aligncenter {
	max-width: 50%; /* mit .col-Grid-Breiten harmnonisieren */
	margin: 1.5em; /* mit .col-Grid-Margin harmnonisieren */
}
.alignleft {
	float: left;
	margin-top: 0;
	margin-left: 0;
}
.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.alignright {
	float: right;
	margin-top: 0;
	margin-right: 0;
}

.reverse {
	display: flex;
	flex-direction: column;
}
.reverse > .reverse__child,
.reverse > .date,
.reverse > .visuallyfirst,
.reverse > .mod-entry-meta {
	order: -1;
}

.reset,
.reset li,
nav ul,
nav li {
	list-style: none outside none;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}
nav ul {
	margin-bottom: 0;
}
.nobr {
	white-space: nowrap;
}
details,
.box {
	border: 1px solid #666;
	padding: 1.5em;
	background-color: #f6f4f3;
}
.box--warning,
.cookie-alert {
	border-color: #faebcc;
	color: #85662b;
	background-color: #fcf8e3;
}
.box--success {
	border-color: #d6e9c6;
	color: #337234;
	background-color: #dff0d8;
}
.box--error {
	border-color: #ebccd1;
	color: #a43431;
	background-color: #f2dede;
}
.box--info {
	border-color: #bce8f1;
	color: #216b8b;
	background-color: #d9edf7;
}

blockquote > *:last-child,
fieldset > *:last-child,
details > *:last-child,
.box > *:last-child,
.row > [class*="col-"] > *:last-child,
.lc-reset > *:last-child,
.katabox > *:last-child {
	margin-bottom: 0;
}

.link-expanded {
	position: relative;
}
.link-expanded a::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* =skiplinks
--------------------------------------------------------------- */
.skiplinks__link {
	position: absolute;
	top: -9999px;
	left: 1.5em;
	z-index: 10;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #fff;
	background-color: #000;
}
.skiplinks__link:focus,
.skiplinks__link:active {
	top: 1.5em;
	color: #fff;
}

/* =buttons
--------------------------------------------------------------- */
.btn, .btn:link, .btn:visited {
	display: inline-block;
	border: 0;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	line-height: inherit;
	background-color: #e2001a;
	border-radius: 3px;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	color: #fff;
	text-decoration: none !important;
	background-color: #c10319;
}
.btn:active {
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

.btn--small, .btn--small {
  	padding: .1em .5em;
}
.btn[type="reset"],
.btn--secondary {
	background-color: grey;
}
.btn--invis,
.btn--ghost {
	border: 0;
	color: #000;
	background-color: transparent;
}
.btn--ghost {
	border: 1px solid #666;
}
.btn--fullwidth {
	width: 100%;
}
.btn--reject {
	background-color: red;
}
.btn--accept {
	background-color: green;
}

/* =animations
--------------------------------------------------------------- */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	*, *::before, *::after {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
		scroll-behavior: auto !important;
	}
}

/* =grid
--------------------------------------------------------------- */
.row {
	clear: both;
}
[class*="col-"] {
	position: relative;
	float: left;
	margin-left: 0; /* muss aufgrund der breite berechnet werden */
	min-height: 1px;
}
[class*="col-"]:first-child {
	margin-left: 0;
}
.col-1 {
	width: 8.333333333333332%;
}
.col-2 {
	width: 16.666666666666664%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33333333333333%;
}
.col-5 {
	width: 41.66666666666667%;
}
.col-6, .col-half {
	width: 50%;
}
.col-7 {
	width: 58.333333333333336%;
}
.col-8 {
	width: 66.66666666666666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333333334%;
}
.col-11 {
	width: 91.66666666666666%;
}
.col-12 {
	width: 100%;
}

/* =editor styles (backend)
--------------------------------------------------------------- */
.editor .element {
	position: relative;
	border: 1px dotted red;
}
.editor .element::before {
	content: 'Container';
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background-color: red;
}

.editor img.cke_iframe {
	width: 100% !important;
	height: 100% !important;
}