/* =global
--------------------------------------------------------------- */
.wrapper {
	outline: 2px solid black;
	width: 90%;
	max-width: 1410px;
	margin-inline: auto;
}
	
/* =header
--------------------------------------------------------------- */
.header {
	background-color: #9cf; /* blue */
}

/* =mainnav
--------------------------------------------------------------- */
.mainnav {
	background-color: #f99; /* red */
}

/* =content
--------------------------------------------------------------- */
.content {
	background-color: #ededed; /* grey */
}
.wrapper--content {
	display: flex;
}
.main {
	width: 60%;
	background-color: #9f9; /* green */
}

/* =subnav
--------------------------------------------------------------- */
.subnav {
	width: 20%;
	background-color: #f99; /* red */
}

/* =sidebar
--------------------------------------------------------------- */
.sidebar {
	width: 20%;
	background-color: #ff6; /* yellow */
}

/* =footer
--------------------------------------------------------------- */
.footer {
	background-color: #c9f; /* violet */
}