/* MARK: =global
--------------------------------------------------------------- */
.wrapper {
	--_inline-offset: 3vw;
	inline-size: calc(100% - var(--_inline-offset) * 2);
	max-inline-size: 1410px;
	margin-inline: auto;

	@media (width > 32.5em) { /* 520/16 */
		--_inline-offset: 5%;
	}
}
	
/* MARK: =header
--------------------------------------------------------------- */
.header {}

/* MARK: =mainnav
--------------------------------------------------------------- */
.mainnav  {
	display: none;
}

@media (width > 32.5em) { /* 520/16 */
	.mainnav  {
		display: block;
	}
	.mobilenav {
		display: none;
	}
}

/* MARK: =content
--------------------------------------------------------------- */
.content {}

.wrapper--content {
	@media (width > 32.5em) { /* 520/16 */
		display: grid;
		grid-template-columns: 20% minmax(0, 1fr) 20%;
	}
}
	
.main {}

/* MARK: =subnav
--------------------------------------------------------------- */
.subnav {}

/* MARK: =sidebar
--------------------------------------------------------------- */
.sidebar {}

/* MARK: =footer
--------------------------------------------------------------- */
.footer {}