body {
    font-size: 12px;
    line-height: 1.4;
    font-family: Arial,Helvetica,Geneva,sans-serif;
  	-webkit-text-size-adjust: 100%;
    }
.wrapper {
	width: 90%;
	max-width: 600px;
	}
p {
    margin: 0 0 1.4em;
    }
h1 {
    margin: 0 0 1.4em;
    font-size: 18px;
    }
h2 {
    margin: 0 0 0.75em;
    font-size: 16px;
    }
h3 {
    margin: 0 0 0.75em;
    font-size: 14px;
    }
hr {
	height: 1px;
	border: 0;
	color: #666;
	background-color: #666;
	}

a, a:link,
a:visited{
    color: #3f3ff2;
    }
a:focus,
a:hover,
a:active {
    color: #ff3f3f;
    }
img, img a {
    border: none;
    }

/* Tabellen
-------------------------------------------- */
table, th, td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
	}
table {
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
	margin-bottom: 1.4em;
  	padding: 0;
    font-size: 12px;
    line-height: 1.4;
    font-family: Arial,Helvetica,Geneva,sans-serif;
    }
th, td {
	vertical-align: top;
	margin-bottom: 0;
	border-bottom: 1px solid #dcdfde;
	padding: 5px 15px 5px 0px;
	font-size: 12px;
    line-height: 1.4;
    font-family: Arial,Helvetica,Geneva,sans-serif;
	}
th {
	border-bottom-width: 2px;
	text-align: left;
	font-weight: bold;
	}
table tbody th {
	border-bottom-width: 1px;
	}
table tfoot tr:first-child td {
	border-top: 2px solid #dcdfde;
	}
table tfoot tr:last-child td {
	border-top: 2px solid #dcdfde;
	border-bottom: 3px double #666;
	font-weight: bold;
	}
table.zebra tbody tr:nth-child(even),
.zebra li:nth-child(even) {
	background-color: #f8f8f8;
	}

/* Basic Classes
-------------------------------------------- */
.form-label {
	padding-right: 15px;
	}
.col-number {
	text-align: right;
	}

/* OSM Sales
-------------------------------------------- */
.sales-table {
	margin: 2em 0;
	}
.sales-total td {
  	border-top: 2px solid #dcdfde;
	border-bottom: 3px double #666;
	font-weight: bold;
	}

@media only screen and (max-width: 500px) {

	body {
		margin: 0;
		padding: 0;
		}
	.wrapper {
		width: 98%;
		}

	.form-label,
	.form-value {
		display: block;
		}
	.form-label {
		padding-top: 15px;
		}

}