@media only screen and (max-width: 48em) { /* 768/16 */
	
	
	
}

@media only screen and (max-width: 32.5em) { /* 520/16 */

	/* =basics
	--------------------------------------------------------------- */
	.header, .container, .main, .mainnav, .sidebar, .footer {
		position: static;
		float: none;
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
		background-image: none;
		}
		
	.alignleft,
	.alignright {
		float: none;
		display: block;
		max-width: 100%;
		margin: 1.5em 0; /* mit .col-Grid-Margin harmnonisieren */
		}
	.aligncenter {
		display: table;
		width: auto;
		max-width: none;
		}
	.aligncenter figcaption {
		display: table-caption;
		caption-side: bottom;
		}

	.table-responsive {
		border-right: 1px solid #dcdfde;
		border-bottom: 0;
		}

	/* =global layout
	--------------------------------------------------------------- */
	.wrapper {
		width: 96%;
		}

	/* =header
	--------------------------------------------------------------- */
	

	/* =content
	--------------------------------------------------------------- */
	
		
	/* =sidebar
	--------------------------------------------------------------- */
	
		
	/* =nav
	--------------------------------------------------------------- */
	

	/* =footer
	--------------------------------------------------------------- */
	

}

/* =Retina Display Media Query
--------------------------------------------------------------- */
@media 
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {

	

}