@media only screen and (max-width: 48em) { /* 768/16 */
	
	
	
}

@media only screen and (max-width: 32.5em) { /* 520/16 */

	/* =global
	--------------------------------------------------------------- */
	.wrapper {
		width: 96%;
	}

	/* =reset layout
	--------------------------------------------------------------- */
	.mainnav, .subnav, .main, .sidebar  {
		width: 100%;
	}

	/* =header
	--------------------------------------------------------------- */

	/* =mainnav
	--------------------------------------------------------------- */

	/* =content
	--------------------------------------------------------------- */
	.wrapper--content {
		display: block;
	}
	
	/* =subnav
	--------------------------------------------------------------- */


	/* =sidebar
	--------------------------------------------------------------- */
	

	/* =footer
	--------------------------------------------------------------- */

	
	/* MARK: =utility
	--------------------------------------------------------------- */
	.alignleft,
	.alignright,
	.aligncenter {
		float: none;
		display: block;
		max-width: 100%;
		margin: 1.5em 0;
	}
	.aligncenter > figure {
		display: table;
		width: auto;
	}
	.aligncenter figcaption {
		display: table-caption;
		caption-side: bottom;
	}

	.table-responsive--active {
		border-inline-end: 1px solid var(--clr-ui-border-subtle);
		border-block-end: 0;
	}

	[class*="col-"] {
		float: none;
		width: 100%;
		margin-inline-start: 0;
	}

}