/* ***********************************************************************************
FileName	: screen.css
Date		: 18.06.2026
Author		: gamperm
Purpose		: Framework

Modification Log:

Name		Date			Description
================================================================================
gamperm		18.06.2026		Release Notes: https://github.com/macgamper/html5-framework
*********************************************************************************** */
@import url(basics.css);
@import url(application.css);
@import url(layout.css);
@import url(https://ext.cdn-backslash.ch/lib/font-awesome7/7.0.1/fontawesome-light.css);