/* ***********************************************************************************
FileName	: screen.css
Date		: 13.05.2024
Author		: gamperm
Purpose		: Framework

Modification Log:

Name		Date			Description
================================================================================
gamperm		11.11.2014		new application.css for comet modules & frontend UI
gamperm		26.09.2013		Created
*********************************************************************************** */
@import url(normalize.css);
@import url(basics.css);
@import url(application.css);
@import url(layout.css);
@import url(responsive.css);
@import url(https://ext.cdn-backslash.ch/lib/font-awesome6/6.7.2/fontawesome-light.css);

#__bs_notify__ {
	/* Move notification to bottom */
	top: auto !important;
	bottom: 0 !important;
	border-top-left-radius: 5px !important; 
	border-bottom-left-radius: 0 !important;
	opacity: .75;
}